## ***********************************************************************
## tinyMCE_width and tinyMCE_height set by PrepareVelocityContextService
## ***********************************************************************
$!services.rteconfig.setRteConfigHint("tinymce4")
#set($rtePluginsPre = ["print","preview","searchreplace","autolink","directionality","visualblocks","visualchars","fullscreen","image","link","media","template","codesample","table","charmap","hr","pagebreak","nonbreaking","anchor","toc","insertdatetime","advlist","lists","textcolor","wordcount","imagetools","contextmenu","colorpicker","textpattern","help", "code", "paste"])
#set($rtePluginsConfig = $services.rteconfig.getRTEConfigField('plugins'))
## adding celements tinymce plugins
#set($!dev = $rtePluginsPre.addAll(["celimage", "cellink"]))
#set($rteOmitPlugins = [])
#if("$!rtePluginsConfig" != '')
  #foreach($oneRtePlugin in $rtePluginsConfig.split('[,| ]'))
    #if($oneRtePlugin.startsWith('-'))
      #set($!dev = $rteOmitPlugins.add($oneRtePlugin.replaceFirst('-','')))
    #elseif("$!oneRtePlugin" != '')
      #set($!dev = $rtePluginsPre.add($oneRtePlugin))
    #end
  #end
#end
#set($rtePlugins = '')
  #foreach($oneRtePlugin in $rtePluginsPre)
    #if(("$!oneRtePlugin" != '') && !$rteOmitPlugins.contains($oneRtePlugin))
      #set($rtePlugins = "$!{rtePlugins} $!oneRtePlugin")
    #end
  #end
#set($useCelCrop = ("$!xwiki.getSpacePreference('celcrop')" == '1'))
#if($services.celementsphoto.useImageAnimations())
  #set($galleriesXWQL = "from doc.object(XWiki.PhotoAlbumClass) as album")
  #set($galleriesXWQL = "${galleriesXWQL} where doc.fullName <> 'XWiki.PhotoAlbumClassTemplate'")
  #set($galleriesXWQL = "${galleriesXWQL} and doc.translation=0")
  #set($galleriesXWQL = "${galleriesXWQL} order by doc.title, doc.name")
  #set($availableGalleries = '')
  #foreach($galleryFN in $services.query.xwql($galleriesXWQL).execute())
    #set($galleryDoc = $xwiki.getDocument($galleryFN))
    #set($galleryName = "$!galleryDoc.title ($!galleryDoc.name)")
    #set($availableGalleries = "$!{availableGalleries},${galleryName}=${galleryFN}")
  #end
#end
## lookup the rte valid elements in XWiki- and WebPreferences and
## default back to the standard configuration
#set($rte_valid_elements = $services.rteconfig.getRTEConfigField('valid_elements'))
## lookup the rte invalid elements in XWiki- and WebPreferences and
## default back to the standard configuration
#set($rte_invalid_elements = $services.rteconfig.getRTEConfigField('invalid_elements'))
## lookup the rte button layout in XWiki- and WebPreferences and
## default back to the standard fields
#set($rteRows = [])
#foreach($rowNum in [1,2,3])
  #set($rte_row = $services.rteconfig.getRTEConfigField("row_$!{rowNum}"))
  #if("$!rte_row" != '')
    #set($!devNull = $rteRows.add($rte_row))
  #end
#end
## get other rte preferences
#set($content_css_filenameURL = [ "$celementsweb.getSkinFile(':celRes/celements2-content.css', 'file')" ])
#foreach($cssObj in $services.css.getRTEContentCSS())
#if("$!{cssObj.getCSS()}" != '')
    #set($!devNull = $content_css_filenameURL.add("$!{cssObj.getCSS()}"))
  #end
#end
## file base link, file picker link
#if(("$!xwiki.getSpacePreference('cel_centralfilebase')" != '') && ("$!xwiki.getSpacePreference('cel_centralfilebase')" != '-'))
  #set($wiki_filbase_path = "$!xwiki.getSpacePreference('cel_centralfilebase')")
#else
  #set($wiki_filbase_path = "$doc.getFullName()")
#end
#set($attachmentPath = "$xwiki.getURL($wiki_filbase_path, 'view')")
#set($attachmentDLPath = "$xwiki.getURL($wiki_filbase_path, 'download')")
#if("$!imagePickerAttPath" != '')
  #set($attachmentDLPath = $xwiki.getURL("$!imagePickerAttPath", 'download'))
  #set($attachmentPath = $xwiki.getURL("$!imagePickerAttPath", 'view'))
#end
#set($linkPickerSpaces = "$!linkPickerSpaces") ## linkPickerSpaces could be undefined
##FIXME move to blog-component after adding a linkPicker-api
#set($blogPageDoc = $xwiki.celementsblog.getBlogPageByBlogSpace("$doc.space"))
#if("$!blogPageDoc" != '')
  #set($linkPickerSpaces = "$!blogPageDoc.space")
#end
##FIXME $linkPickerSpace must be given by input parameter depending on rte context
#set($linkPickerSpace = "$doc.space")
#set($filePickerSpace = "$linkPickerSpace") ## filePickerSpace must be a single space!!
#if("$!linkPickerSpaces" != '')
  #set($linkPickerSpace = "$!linkPickerSpaces")
#end
#set($parentSpace = "$!{xwiki.getSpacePreference('parent')}")
#if(("$!parentSpace" != '') && ($linkPickerSpace.indexOf("$!{parentSpace}") < 0))
  #set($linkPickerSpace = "$!linkPickerSpace,$!{parentSpace}")
#end
#set($fileUploadSpace = "$doc.space")
#if("$!fileBaseUploadSpace" != '')
  #set($fileUploadSpace = "$!fileBaseUploadSpace")
#end
#set($isSingle = '1')
#if("$!fileBaseSingleDoc" != '')
  #set($isSingle = "$fileBaseSingleDoc")
#end
#if("$!fileBasePickerSpace" != '')
  #set($filePickerSpace = "$!fileBasePickerSpace")
#end
#set($filePickerDoc = $doc.getName())
#if("$!singleAttachmentDocument" != '')
  #set($filePickerDoc = "$!singleAttachmentDocument")
#end
##
#*
  ##this is wrong in general !!!
  ##29.08.2014 FP: removed to fix problems for Programmzeitung!!!
  #if($linkPickerSpace.indexOf('_') >= 0)
    #set($linkPickerSpace = $linkPickerSpace.substring(0, $linkPickerSpace.indexOf('_')))
  #end
*#
#set($allLinkPickerSpaces = "$!linkPickerSpace,$!services.rteconfig.getRTEConfigField('link_picker_spaces')")
#set($allLinkPickerSpaces = $allLinkPickerSpaces.replaceAll(',,|^,|,$', ''))
#set($fbDoc = "$!xwiki.getSpacePreference('cel_centralfilebase')")
#if (("$!fbDoc" == '') && ("$!parentSpace" != ''))
  #set($fbDoc = "$!xwiki.getSpacePreferenceFor('cel_centralfilebase', $parentSpace)")
#end
#if("$!fbDoc" == '')
  #set($fbDoc = "${filePickerSpace}_filebase.AttachmentDocument")
#elseif("$!fbDoc" == '-')
  #set($fbDoc = "${filePickerSpace}.${filePickerDoc}")
#end
#set($hasUpload = '1') ## from where?
#set($filebaseURL = "$doc.getURL('view')")
#if("$!filebaseURL" == '')
  #set($filebaseURL = "/WebHome")
#end
#set($filebaseURL = "$!{filebaseURL}?xpage=celements_ajax&ajax_mode=FileBase&picker=1")
#set($filebaseURL = "$!{filebaseURL}&single_doc=${fbDoc}&fieldname=href")
#set($filebaseURL = "$!{filebaseURL}&src_doc=${filePickerSpace}.${filePickerDoc}&columns=10")
#set($filebaseURL = "$!{filebaseURL}&root=${filePickerSpace}&hasUpload=$hasUpload")
##
## start writing JSON
#set($jsonBuilder = $services.json.newBuilder())##
$jsonBuilder.openDictionary()##
$jsonBuilder.addProperty("selector", "textarea.tinyMCE,textarea.mceEditor")##
$jsonBuilder.addProperty("language", "$!admin_language")##
$jsonBuilder.addProperty("valid_elements", "$!rte_valid_elements")##
$jsonBuilder.addProperty("invalid_elements", "$!rte_invalid_elements")##
$jsonBuilder.addProperty("theme", "modern")##
$jsonBuilder.addProperty("height", "$!tinyMCE_height")##
$jsonBuilder.addProperty("width", "$!tinyMCE_width")##
$jsonBuilder.addProperty("menubar", false)##
$jsonBuilder.addProperty("branding", false)##
$jsonBuilder.addProperty("plugins", "$!rtePlugins")##
$jsonBuilder.openProperty("external_plugins")##
$jsonBuilder.openDictionary()##
$jsonBuilder.addProperty("celimage", $services.celementsweb.getSkinFile(':celRTE/4.9.11/plugins/celimage/editor_plugin_src.js', 'file'))##
$jsonBuilder.addProperty("cellink", $services.celementsweb.getSkinFile(':celRTE/4.9.11/plugins/cellink/editor_plugin_src.js', 'file'))##
$jsonBuilder.closeDictionary()## external plugins
$jsonBuilder.openArray("toolbar")##
#foreach($rteRowLayout in $rteRows)
  $jsonBuilder.addValue($rteRowLayout)
#end
$jsonBuilder.closeArray()##
$jsonBuilder.addProperty("celanim_slideshow",  $!services.celementsphoto.useImageAnimations())##
$jsonBuilder.addProperty("cel_crop",  $!useCelCrop)##
#if($services.celementsphoto.useImageAnimations())
  $jsonBuilder.addProperty("gallerylist", "$availableGalleries.replaceFirst(',','')")##
#end
$jsonBuilder.openArray("content_css")##
#foreach($cssURL in $content_css_filenameURL)
  $jsonBuilder.addValue($cssURL)
#end
$jsonBuilder.closeArray()##
## file base link, file picker link
$jsonBuilder.addProperty("wiki_images_path", "$xwiki.getURL($wiki_filbase_path, 'download')")##
$jsonBuilder.addProperty("wiki_attach_path", "$attachmentPath")##
$jsonBuilder.addProperty("wiki_imagedownload_path", "$attachmentDLPath")##
$jsonBuilder.addProperty("wiki_linkpicker_space", "$allLinkPickerSpaces")##
$jsonBuilder.addProperty("wiki_linkpicker_baseurl", "$doc.getURL('view')")##
$jsonBuilder.addProperty("wiki_filepicker_upload_space", "$fileUploadSpace")##
$jsonBuilder.addProperty("wiki_filepicker_space", "$filePickerSpace")##
$jsonBuilder.addProperty("wiki_filepicker_doc", "$filePickerDoc")##
$jsonBuilder.addProperty("wiki_filebase_link", "$!{filebaseURL}")##
$jsonBuilder.addProperty("wiki_filebase_single_doc", "$isSingle")##
$jsonBuilder.addProperty("entity_encoding", "raw")##
$jsonBuilder.addProperty("autoresize_bottom_margin", 1)##
$jsonBuilder.addProperty("autoresize_min_height", 0)##
$jsonBuilder.openProperty("style_formats")##
$jsonBuilder.addValue($services.rteconfig.getRteJsonConfigField("style_formats"))##
$jsonBuilder.closeDictionary()## tiny4 config dictionary
$jsonBuilder.getJSON()
##        image_advtab: true,
##        templates: [
##          { title: 'Test template 1', content: 'Test 1' },
##          { title: 'Test template 2', content: 'Test 2' }
##        ],
